.addTask{
     width: 300px;
    border: 5px solid rgb(211, 236, 211);
    padding: 50px;
    margin: 20px;
    text-align: center;
}

h1{
    text-align: center;
    color: #28a745;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
ul {
    font-size: 20px;
}
li {
    text-align: inherit;
    color: rgb(152, 227, 114);
}
input {  padding: 10px 20px;
    border: none;
    background-color: #d9e3db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}